{% for etablissement in etablissements %}
    {% if etablissement.enabled %}
        <div class="col-lg-4 col-md-4 col-sm-6" style="height: 500px ;width: 350px">
            <div class="hm_news_box">
                <div class="hm_news_img">
                    <img src="{{ asset('uploads/images/' ~ etablissement.photoEtablissement ) }}" alt="" class="img-responsive">
                    <div class="news_img_overlay"></div>
                    <div class="overlay_buttons">
                        <a class="popup-news-gallery" href="{{ asset('uploads/images/' ~ etablissement.photoEtablissement ) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="hm_news_data">
                    <h3><a href="{{  path('etablissement_test', { 'idEtablissement': etablissement.idEtablissement }) }}">{{ etablissement.nomEtablissement }}</a></h3>
                    <ul>
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ etablissement.adresseEtablissement }}</a></li>
                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> {{ etablissement.horaireTravail }}</a></li>
                        <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>{{ etablissement.idCategorie }}</a></li>
                    </ul>
                    <p class="item_text">{{ etablissement.descriptionEtablissement }}</p>
                    <a href="{{  path('etablissement_test', { 'idEtablissement': etablissement.idEtablissement }) }}" class="news_btn">Consulter</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}