
<html>
<head>
    <title>DevBrain - HTML Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320">
    <!-- favicon links-->
    <link rel="icon" type="image/icon" href="favicon.png" />
    <!-- main css -->
    <link rel="stylesheet" href="{{ asset('css/fonts.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/custom_animation.css') }}" />
    <!--revolution-->
    <link href="{{ asset('js/plugin/revolution/css/settings.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('js/plugin/revolution/css/layers.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('js/plugin/revolution/css/navigation.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('js/plugin/owl/owl.carousel.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ asset('css/colors/default.css') }}" id="colors" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
</head>
<body>
<!--main wrapper start-->
<div id="wrapper">
    <!--top_header start-->
    <div class="hm_top_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="hm_top_login">
                        <p><b>Bonjour {{ app.user.username }} ! Bienvenue dans BonPlan </b></p>

                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 pull-right">
                    <div class="top_usd">
                        <div class="hm_top_wishlist">
                            <p><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-cart-plus" aria-hidden="true"></i> Se déconnecter</a></p>
                        </div>

                        <div class="hm_top_usd">
                            <p><a href="{{ path('bon_plan_profile') }}"><i class="fa fa-angle-down" aria-hidden="true"></i> Mon profil</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--Header start-->
    <div class="hm_header_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <div class="hm_logo">
                        <a href="{{ path('bon_plan_homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hm_header_overlay"></div>
    </div>
    <!--menu start-->
    <div class="hm_menu_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="hm_menu_wrap">
                        <nav>
                            <div class="menu_btn"><span></span><span></span><span></span></div>
                            <div class="hm_menu">
                                <ul>
                                    <li class="active dropdown"><a href="{{ path('bon_plan_accueilProp') }}">Accueil</a>

                                    </li>
                                    <li><a>Etablissement</a>
                                        <ul class="sub-menu">
                                            <li><a href="{{ path('bon_plan_etablissement2') }}">Mes Etablissements</a></li>
                                            <li><a href="{{ path('bon_plan_etablissement1') }}">Ajouter Etablissement</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="{{ path('bon_plan_blog') }}">Evénement</a></li>
                                    <li class="dropdown"><a href="{{ path('affiche_publicite') }}">Publicité</a>

                                    </li>
                                    <li class="dropdown"><a href="{{ path('offre_index') }}">Offre</a>

                                    </li>
                                    <li class="dropdown"><a  href="{{ path('produit_index') }}">Produit</a>

                                    </li>


                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hm_bread_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Expérience</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('bon_plan_accueilProp') }}">Fil d'actualité</a></li>
                        <li class="breadcrumb-item active"> Détails de l'expérience </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

<div class="hm_news_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8" >
                <div class="hm_news_inner hm_blogs hm_single_blog">
                    <div class="hm_news_box">
                        <div class="hm_news_img">
                            <img src="{{ asset('uploads/images/') }}{{ experience.preuve }}" ; alt="" class="img-responsive4" ;/>
                        </div>
                        <div class="hm_news_data" style=" word-wrap: break-word; width: 650px;">
                            <h3><a> Détails de l'expérience</a></h3>
                            <ul>
                                <li><i class="fa fa-user" aria-hidden="true"></i> {{ experience.id.nom }}</a></li><br><br>


                                <li><i class="fa fa-calendar" aria-hidden="true"></i> {% if experience.dateExp %}{{ experience.dateExp|date('Y-m-d') }}{% endif %}</a></li><br><br>

                            </ul>
                            <ul>
                                <li><a href="{{ path('etablissement_test', { 'idEtablissement': experience.idEtablissement.idEtablissement }) }}">{{experience.idEtablissement.nomEtablissement }}</a></li><br><br>

                            </ul>
                            <p style="word-break: break-all"> {{ experience.descriptionExperience }}</p>
                            <br>
                            {% if (app.user.id) == (experience.id.id)  %}
                                <a href="{{ path('bon_plan_modifExpClient', { 'idExp': experience.idExp }) }}">Modifier</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--comments area start-->
                <div class="comments-area">
                    <div class="group-title">
                        <h2>COMMENTS (2)</h2>
                    </div>
                    <!--Comment Box-->
                    <div class="comment-box">
                        <div class="comment">
                            <div class="author-thumb"><img src="{{ asset('images/author-1.jpg') }}" alt=""></div>
                            <div class="comment-inner">
                                <div class="comment-info clearfix"><strong>Matt	Phillips</strong>
                                    <div class="comment-time">june 7, 2018</div>
                                </div>
                                <div class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</div>
                                <a class="comment-reply" href="#"><span class="icon fa fa-mail-reply-all"></span> &nbsp; Reply</a>
                            </div>
                        </div>
                    </div>
                    <!--Comment Box-->
                    <div class="comment-box reply-comment">
                        <div class="comment">
                            <div class="author-thumb"><img src="{{ asset('images/author-2.jpg') }}" alt=""></div>
                            <div class="comment-inner">
                                <div class="comment-info clearfix"><strong>Darrel Schmidt</strong>
                                    <div class="comment-time">Jun 20, 2018</div>
                                </div>
                                <div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
                                <a class="comment-reply" href="#"><span class="icon fa fa-mail-reply-all"></span> &nbsp; Reply</a>
                            </div>
                        </div>
                    </div>
                    <!--comment form-->
                    <div class="comment-form">

                        <div class="group-title">
                            <h2>LEAVE A REPLY</h2>
                        </div>

                        <!--Comment Form-->
                        <form method="post" action="http://kamleshyadav.com/html/hand-made/hand-made/blog.html">
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <input type="text" name="username" placeholder="Name" required="">
                                </div>

                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <input type="email" name="email" placeholder="Email" required="">
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <input type="text" name="subject" placeholder="Subject">
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                    <textarea name="message" placeholder="Comment"></textarea>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                    <button class="hm_btn" type="submit" name="submit-form">Post Comment</button>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>
            </div>
            <!--sidebar css start-->
            <div class="col-lg-4 col-md-4">
                <div class="sidebar">


                    <!--blog categories-->
                    <div class="sidebar-widget widget_categories">
                        <div class="sidebar-title">
                            <h2>Evaluation de l'expérience</h2>
                        </div>
                        <ul>
                            <li><i aria-hidden="true"></i> {{ experience.noteExp|rating }}</a></li><br><br>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

    <!--footer start-->
    <div class="hm_footer_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="hm_footer_box">
                        <img src="{{ asset('images/logo.png') }}" alt="" class="img-responsive">
                        <p class="footer_about_para">Keep calm and hang out with friends</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="hm_footer_box">
                        <h3 class="footer_heading">Lien</h3>
                        <ul>
                            <li><a href="{{ path('bon_plan_homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('bon_plan_shop') }}">shop</a></li>
                            <li><a href="404.html">404 page</a></li>
                            <li><a href="javascript:">login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="hm_footer_box hm_footer_contact">
                        <h3 class="footer_heading">Nos informations</h3>
                        <ul>
                            <li><span class="footer_icon"><i class="fa fa-map-marker" aria-hidden="true"></i> </span>
                                <p class="foo_con_para">Z.I. Chotrana II B.P. 160 Pôle Technologique El Ghazela - Ariana 2083</p>
                            </li>
                            <li><span class="footer_icon"><i class="fa fa-phone" aria-hidden="true"></i> </span>
                                <p class="foo_con_para">+216 70 250 000</p>
                            </li>
                            <li><a href="mailto:nadia.khemakhem@esprit.tn"><span class="footer_icon"><i class="fa fa-envelope" aria-hidden="true"></i> </span><p class="foo_con_para">BonPlan@gmail.com</p></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--bottom footer start-->
    <div class="hm_bottom_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p>Copyrights &copy; 2018 All Rights Reserved by Himanshusofttech</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="footer_so_icons">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div></div></body></html>

