
{% for item in all %}
    <article class="service type-service hentry row one-col-service">
        <div class="col-lg-6 col-md-7">

            <figure>
                <a>
                    <img src="{{ asset(item.photo) }}">
                </a>
            </figure>
        </div>

        <div class="col-lg-6 col-md-5">
            <div class="service-contents">
                <h3 class="entry-title"><a href="{{ path('annonce_show', { 'id': item.id }) }}">{{ item.nom }}</a></h3>
                <div class="entry-content">

                    <p>{{ item.type }}</p>

                    <p>{{ item.description | raw}}</p>


                </div>

                <a class="read-more" href="{{ path('annonce_delete', { 'id': item.id }) }}">supprimer</a>
                <a class="read-more" href="{{ path('annonce_edit', { 'id': item.id }) }}">modifier</a>
            </div>
        </div>
    </article>
{% endfor %}