<html>
<head>
    <title>DevBrain - HTML Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320">
    <!-- favicon links-->
    <link rel="icon" type="image/icon" href="favicon.png" />
    <!-- main css -->
    <link rel="stylesheet" href="{{ asset('css/fonts.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/custom_animation.css') }}" />
    <!--revolution-->
    <link href="{{ asset('js/plugin/revolution/css/settings.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('js/plugin/revolution/css/layers.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('js/plugin/revolution/css/navigation.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('js/plugin/owl/owl.carousel.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ asset('css/colors/default.css') }}" id="colors" />
</head>
<body>

<!--preloader-->
<div class="loader">
    {% block content %}
    <div class="loader-inner ball-scale-ripple-multiple">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!--main wrapper start-->
<div id="wrapper">
    <!--top_header start-->
    <div class="hm_top_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="hm_top_login">
                        <p><b>Bonjour {{ app.user.username }} ! Bienvenue dans BonPlan </b></p>

                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 pull-right">
                    <div class="top_usd">
                        <div class="hm_top_wishlist">
                            <p><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-cart-plus" aria-hidden="true"></i> Se déconnecter</a></p>
                        </div>

                        <div class="hm_top_usd">
                            <p><a href="{{ path('bon_plan_profile') }}"><i class="fa fa-angle-down" aria-hidden="true"></i> Mon profil</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--Header start-->
    <div class="hm_header_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <div class="hm_logo">
                        <a href="{{ path('bon_plan_homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hm_header_overlay"></div>
    </div>
    <!--menu start-->
    <div class="hm_menu_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="hm_menu_wrap">
                        <nav>
                            <div class="menu_btn"><span></span><span></span><span></span></div>
                            <div class="hm_menu">
                                <ul>
                                    <li class="active dropdown"><a href="{{ path('bon_plan_homepage') }}">Accueil</a>

                                    </li>
                                    <li><a href="#">Etablissement</a></li>
                                    <li><a href="{{ path('bon_plan_blog') }}">Evénement</a></li>
                                    <li class="dropdown"><a href="{{ path('affiche_publicite') }}">Publicité</a>

                                    </li>
                                    <li class="dropdown"><a href="#">Offre</a>

                                    </li>
                                    <li class="dropdown"><a href="#">Statistique</a>

                                    </li>
                                    <li><a href="{{ path('bon_plan_contact') }}">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner start-->
    <div class="hm_banner_wrapper">
        <div id="rev_slider_1068_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="levano4export" data-source="gallery" style="background-color:transparent;">
            <div id="rev_slider_1068_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
                <ul>
                    <li data-index="rs-3010" data-transition="boxfade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="" data-rotate="0" data-fstransition="boxfade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <div class="tp-caption tp-shape tp-shapewrapper " id="slide-2800-layer-7" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"speed":5000,"to":"opacity:0;","ease":"Power4.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.60);border-color:rgba(0, 0, 0, 0);"> </div>
                        <img src="{{ asset('images/slide1.jpg') }}" alt="" data-lazyload="./images/slide1.jpg" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Power1.easeOut" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfb sfb tp-resizeme" data-x="center" data-y="center" data-hoffset="0" data-voffset="-240" data-speed="1500" data-start="1000" data-easing="easeOutBounce" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-fontsize="['40','30','20','20']" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]' data-endeasing="Power4.easeIn" style="font-size:40px;line-height:140px;text-transform:capitalize;text-shadow: -4px 4px 3px rgba(51, 51, 51, 0.35);z-index:100;">
                            <h1 class="creative" style="font-family: 'Great Vibes', cursive;font-weight:400;letter-spacing:2px;color:#fc5a6d;">Bon Plan</h1>
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfb sfb tp-resizeme" data-x="center" data-y="center" data-hoffset="0" data-voffset="-150" data-speed="1500" data-start="1000" data-easing="easeOutBounce" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-fontsize="['55','50','40','30']" data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]' data-endeasing="Power4.easeIn" style="font-size:55px;color:#FFFFFF;line-height:140px;text-transform:uppercase;font-weight:600;text-shadow: -4px 4px 3px rgba(51, 51, 51, 0.35);z-index:100;font-family: 'Roboto Slab', serif;letter-spacing:5px;">
                            "Keep calm and hang out with friends"
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption Restaurant-Cursive   tp-resizeme" id="slide-3010-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-70','-70']" data-width="none" data-height="none" data-whitespace="nowrap" data-fontsize="['18','18','15','15']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,20]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,20]" style="z-index: 6; white-space: nowrap; line-height:26px;text-transform:none;font-family: 'Roboto', sans-serif;">Envie de vous divertir ? A la recherche d'inspiration ?
                            <br/>Nous pensons à vous, découvrez notre sélection d'établissements.</div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-3045-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['40','40','30','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' data-textAlign="['center','left','left','left']" data-paddingtop="[25,0,0,0]" data-paddingright="[33,0,0,0]" data-paddingbottom="[10,0,0,0]" data-paddingleft="[33,0,0,0]" style="z-index: 6; white-space: nowrap;text-transform:capitalize;letter-spacing:1px;    font-family: 'Roboto', sans-serif;">
                            <a href="contact.html" class="hm_btn" target="_blank">Contactez_nous</a>
                        </div>

                    </li>

                    <!--Second slide-->
                    <li data-index="rs-1698" data-transition="slideright" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Ken Burns">
                        <div class="tp-caption tp-shape tp-shapewrapper " id="slide-2810-layer-7" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"speed":5000,"to":"opacity:0;","ease":"Power4.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.60);border-color:rgba(0, 0, 0, 0);"> </div>
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('images/slide2.jpg') }}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="-500 0" data-offsetend="500 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                        <!--LAYER 1-->
                        <div class="tp-caption sfb sfb tp-resizeme" data-x="65" data-y="center" data-hoffset="0" data-voffset="-110" data-speed="1500" data-start="1000" data-easing="easeOutBounce" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-frames='[{"from":"x:[0];z:50%;rX:0deg;rY:45deg;rZ:45deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]' data-fontsize="['55','50','25','25']" data-endeasing="Power4.easeIn" data-textAlign="['','','center','center']" style="font-size:55px;color:#FFFFFF;line-height:140px;text-transform:uppercase;font-weight:700;text-shadow: -4px 4px 3px rgba(51, 51, 51, 0.35);z-index:100;font-family: 'Roboto Slab', serif;letter-spacing:5px;">Faites vous aider dans vos choix
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfb sfb tp-resizeme" data-x="65" data-y="center" data-hoffset="0" data-voffset="['-30','-30','-50','-50']" data-speed="1500" data-start="1000" data-easing="easeInOutQuart" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-fontsize="['18','18','17','17']" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-endspeed="1200" data-endeasing="Power4.easeOut" style="z-index: 6; white-space: nowrap; line-height:26px;text-transform:none;font-family: 'Roboto', sans-serif;color:#ffffff;">
                            Vous hésitez?  Nous vous offrons une liste d'établissements pour tous les goûts
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-3046-layer-5" data-x="['65','65','65','65']" data-hoffset="['30','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2500,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' data-textAlign="['center','left','left','left']" data-paddingtop="[25,0,0,0]" data-paddingright="[33,0,0,0]" data-paddingbottom="[10,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap;text-transform:capitalize;letter-spacing:1px;    font-family: 'Roboto', sans-serif;">
                            <a href="contact.html" class="hm_btn" target="_blank">Contactez_nous</a>
                        </div>
                    </li>

                    <!--Third slide-->
                    <li data-index="rs-1699" data-transition="curtain-1" data-slotamount="1" data-masterspeed="1000" data-thumb="images/slider/slider-4-100x100.png" data-rotate="0" data-saveperformance="off" data-title="Slide">
                        <!-- MAIN IMAGE -->
                        <div class="tp-caption tp-shape tp-shapewrapper " id="slide-2801-layer-7" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"speed":5000,"to":"opacity:0;","ease":"Power4.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.60);border-color:rgba(0, 0, 0, 0);"> </div>
                        <img src="{{ asset('images/slide3.jpg') }}" alt="" data-lazyload="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

                        <!-- LAYER 1-->
                        <div class="tp-caption sfb sfb tp-resizeme" data-x="center" data-y="center" data-hoffset="0" data-voffset="-150" data-speed="1500"  data-easing="easeInOutQuart" data-splitin="none" data-splitout="none" data-fontsize="['55','50','25','25']" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-transform_in="y:-30px;rX:70deg;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="1000" data-endeasing="Power4.easeIn" style="font-size:55px;color:#FFFFFF;line-height:140px;text-transform:uppercase;font-weight:700;text-shadow: -4px 4px 3px rgba(51, 51, 51, 0.35);z-index:100;font-family: 'Roboto Slab', serif;letter-spacing:5px;">Partagez vos expériences
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfb sfb tp-resizeme" data-x="center" data-y="center" data-hoffset="0" data-voffset="-60" data-speed="1500"  data-easing="easeInOutQuart" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-textAlign="['center','center','center','center']" data-fontsize="['18','18','17','17']" data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},{"speed":5000,"to":"opacity:0;","ease":"Power4.easeInOut"}]' data-endeasing="Power4.easeOut" style="z-index: 6; white-space: nowrap; line-height:26px;text-transform:none;font-family: 'Roboto', sans-serif;color:#ffffff;">
                            Partagez vos expériences, vos évaluations et vos critiques
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-3047-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['40','40','40','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[25,0,0,0]" data-paddingright="[33,0,0,0]" data-paddingbottom="[10,0,0,0]" data-paddingleft="[33,0,0,0]" style="z-index: 6; white-space: nowrap;text-transform:capitalize;letter-spacing:1px;font-family: 'Roboto', sans-serif;">
                            <a href="contact.html" class="hm_btn" target="_blank">Contactez_nous</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--About section start-->
    <div class="hm_about_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="hm_about_img">
                        <img src="{{ asset('images/about2.jpg') }}" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="hm_about_data">
                        <h1><span class="hm_color">Bienvenue</span> à Bon Plan</h1>
                        <p>Bon Plan est un espace de découverte d'établissements, où l'on partage nos expériences, nos coups de coeur, notre enchantement ainsi que nos critiques des établissements.</p>
                        <p>Notre mission est de bâtir un gage de confiance entre nos membres et les propriétatires des établissements et améliorer les services fournis par les établissements à travers le partage d’expériences et d’informations.</p>
                        <p>Nous rendons la vie plus facile à nos membres de faire leur choix.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--New Arrivals section start-->
    <div class="hm_arrivals_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="hm_heading"><span class="hm_color">Recemment</span> Parmi nous</h1>
                </div>
            </div>
            <div class="row">
                <div class="new_pro_inner">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="new_pro_box">
                            <div class="new_pro_img">
                                <img src="{{ asset('images/new_pro1.jpg') }}" alt="" class="img-responsive" />
                            </div>
                            <div class="new_pro_data">
                                <h3><a href="{{ path('bon_plan_shop1') }}">Jellied eels.</a></h3>
                                <p>orem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                <span class="pro_price">Nombre d'étoiles</span>
                                <span class="cart_icon"><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <!--2-->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="new_pro_box">
                            <div class="new_pro_data">
                                <h3><a href="{{ path('bon_plan_shop1') }}">Deep fried pomfret.</a></h3>
                                <p>orem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                <span class="pro_price">Nombre d'étoiles</span>
                                <span class="cart_icon"><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></span>
                            </div>
                            <div class="new_pro_img">
                                <img src="{{ asset('images/new_pro2.jpg') }}" alt="" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <!--3-->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="new_pro_box">
                            <div class="new_pro_img">
                                <img src="{{ asset('images/new_pro3.jpg') }}" alt="" class="img-responsive" />
                            </div>
                            <div class="new_pro_data">
                                <h3><a href="{{ path('bon_plan_shop1') }}">Marinated swordfish</a></h3>
                                <p>orem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                <span class="pro_price">$12 Only</span>
                                <span class="cart_icon"><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <!--4-->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="new_pro_box">
                            <div class="new_pro_img">
                                <img src="{{ asset('images/new_pro4.jpg') }}" alt="" class="img-responsive" />
                            </div>
                            <div class="new_pro_data">
                                <h3><a href="{{ path('bon_plan_shop1') }}">Jellied</a></h3>
                                <p>orem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                <span class="pro_price">$18 Only</span>
                                <span class="cart_icon"><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <!--5-->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="new_pro_box">
                            <div class="new_pro_data">
                                <h3><a href="{{ path('bon_plan_shop1') }}">Salmon</a></h3>
                                <p>orem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                <span class="pro_price">$16 Only</span>
                                <span class="cart_icon"><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></span>
                            </div>
                            <div class="new_pro_img">
                                <img src="{{ asset('images/new_pro5.jpg') }}" alt="" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <!--6-->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="new_pro_box">
                            <div class="new_pro_img">
                                <img src="{{ asset('images/new_pro6.jpg') }}" alt="" class="img-responsive" />
                            </div>
                            <div class="new_pro_data">
                                <h3><a href="{{ path('bon_plan_shop1') }}">Salmon roe.</a></h3>
                                <p>orem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                <span class="pro_price">$20 Only</span>
                                <span class="cart_icon"><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Choose section start-->
    <div class="hm_choose_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 pull-right padding_left">
                    <div class="hm_choose_data">
                        <h1 class="hm_heading text-left"><span class="hm_color">Comment</span> ça marche?</h1>
                        <div class="hm_choose_list">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                Trouvez l'adresse parfaite pour vous</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body">A la recherche de divertissement! accédez à un guide
                                            complet et faites confiance à nos filtres de recherche qui vous
                                            permettront de trouver rapidement l’établissement qui correspond le
                                            plus à vos attentes : Recherche géolocalisée, catégories, budgets,
                                            horaires, rating et plus … </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                Faites vous aider dans votre choix
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">Vous hésitez ? Faites confiance aux notes, avis et commentaires des internautes, retrouvez un aperçu détaillé de l’établissement et accédez aux récits d’expérience complets de tous ceux qui ont partagé leurs expériences</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                Le meilleur guide, c'est vous ! partagez vos expériences</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">Vous vous y êtes rendu ! Partagez vos expériences, vos découvertes, vos coups de cœur et vos critiques et laissez vos avis et vos notes.Bon Plan est avant tout un espace de partage et de convivialité</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                Suivez l'actualité et ne ratez aucun évènement </a>
                                        </h4>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse">
                                        <div class="panel-body">Restez informé et suivez la tendance. Evénements, inaugurations, offres spéciales, ne laissez rien vous échapper …</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                                Suggérez des améliorations</a>
                                        </h4>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse">
                                        <div class="panel-body">Suggérez des améliorations en privé. Nous avons besoin de votre feedback constructif.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--happy customer sevtion start-->
    <div class="hm_testimonial_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="hm_heading"><span class="hm_color">Nos</span> valeurs</h1>
                </div>
            </div>
            <div class="row">
                <div class="hm_test_inner">
                    <div class="col-lg-4 col-md-4">
                        <div class="hm_testi_box">
                            <div class="hm_test_img">
                                <img src="{{ asset('images/explore.png') }}" alt="" class="img-responsive" />
                            </div>
                            <h2>Découvrez</h2>
                            <p>A travers la transparence et les échanges constructifs chaque utilisateur avancera vers la découverte de plusieurs établissements. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="hm_testi_box">
                            <div class="hm_test_img">
                                <img src="{{ asset('images/star.png') }}" alt="" class="img-responsive" />
                            </div>
                            <h2>Evaluez</h2>
                            <p>Donnez vos expériences avec les commerces locaux sur la plateforme et évaluez les établissements que vous avez visités. Vos avis sont importants pour nous pour suggérer des améliorations en privé aux propriétaires.  </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="hm_testi_box">
                            <div class="hm_test_img">
                                <img src="{{ asset('images/share.png') }}" alt="" class="img-responsive" />
                            </div>
                            <h2>Partagez</h2>
                            <p>Avec Bon Plan nous partageons les informations et le feedback constructifs pour vous aider vous ainsi que les propriétaires. Il faut s’entraider pour avancer ensemble. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--our blog section start-->
    <div class="hm_news_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="hm_heading"><span class="hm_color">Meilleur </span>classement</h1>
                </div>
            </div>
            <div class="row">
                <div class="hm_news_inner">
                    <div class="col-lg-4 col-md-4">
                        <div class="hm_news_box">
                            <div class="hm_news_img">
                                <img src="{{ asset('images/new_pro1.jpg') }}" alt="" class="img-responsive">
                                <div class="news_img_overlay"></div>
                                <div class="overlay_buttons">
                                    <a class="popup-iframe" href="https://www.youtube.com/watch?v=KAQjLTjW-dM"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="hm_news_data">
                                <h3><a href="{{ path('bon_plan_blog1') }}">Inteligent Transitions In Design</a></h3>
                                <ul>
                                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> admin</a></li>
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 june 2018</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>picture</a></li>
                                </ul>
                                <p>Pleasure and praising pain was born and will give you a complete account of the systems, and expound the actual teaching.</p>
                                <a href="#" class="news_btn">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="hm_news_big_post">
                            <img src="{{ asset('images/blog_big.jpg') }}" alt="" class="img-responsive" />
                            <div class="hm_blog_overlay_data">
                                <div class="news_data">
                                    <span class="hm_blog_date">13 june 2018</span>
                                    <h2><a href="{{ path('bon_plan_blog1') }}">standard blog post</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et do lore magna aliqua.Lonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                    <div class="blog_admin">Posted by <span class="hm_color">william harry</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="hm_news_box">
                            <div class="hm_news_img">
                                <img src="{{ asset('images/new_pro2.jpg') }}" alt="" class="img-responsive">
                                <div class="news_img_overlay"></div>
                                <div class="overlay_buttons">
                                    <a class="popup-news-gallery" href="{{ asset('images/gallery_big2.jpg') }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="hm_news_data">
                                <h3><a href="{{ path('bon_plan_blog1') }}">DIY Matisse</a></h3>
                                <ul>
                                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> admin</a></li>
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 june 2018</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>picture</a></li>
                                </ul>
                                <p>Pleasure and praising pain was born and will give you a complete account of the systems, and expound the actual teaching.</p>
                                <a href="#" class="news_btn">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="hm_news_box">
                            <div class="hm_news_img">
                                <img src="{{ asset('images/new_pro3.jpg') }}" alt="" class="img-responsive">
                                <div class="news_img_overlay"></div>
                                <div class="overlay_buttons">
                                    <a class="popup-news-gallery" href="{{ asset('images/gallery_big9.jpg') }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="hm_news_data">
                                <h3><a href="{{ path('bon_plan_blog1') }}">Creating Art Spaces For Kids</a></h3>
                                <ul>
                                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> admin</a></li>
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 june 2018</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>picture</a></li>
                                </ul>
                                <p>Pleasure and praising pain was born and will give you a complete account of the systems, and expound the actual teaching.</p>
                                <a href="#" class="news_btn">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="hm_news_box">
                            <div class="hm_news_img">
                                <img src="{{ asset('images/new_pro4.jpg') }}" alt="" class="img-responsive">
                                <div class="news_img_overlay"></div>
                                <div class="overlay_buttons">
                                    <a class="popup-news-gallery" href="{{ asset('images/gallery_big10.jpg') }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="hm_news_data">
                                <h3><a href="{{ path('bon_plan_blog1') }}">Illuminated Accessories</a></h3>
                                <ul>
                                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> admin</a></li>
                                    <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 june 2018</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>picture</a></li>
                                </ul>
                                <p>Pleasure and praising pain was born and will give you a complete account of the systems, and expound the actual teaching.</p>
                                <a href="#" class="news_btn">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer start-->
    <div class="hm_footer_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="hm_footer_box">
                        <img src="{{ asset('images/logo.png') }}" alt="" class="img-responsive">
                        <p class="footer_about_para">Keep calm and hang out with friends</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="hm_footer_box">
                        <h3 class="footer_heading">Lien</h3>
                        <ul>
                            <li><a href="{{ path('bon_plan_homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('bon_plan_shop') }}">shop</a></li>
                            <li><a href="404.html">404 page</a></li>
                            <li><a href="javascript:">login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="hm_footer_box hm_footer_contact">
                        <h3 class="footer_heading">Nos informations</h3>
                        <ul>
                            <li><span class="footer_icon"><i class="fa fa-map-marker" aria-hidden="true"></i> </span>
                                <p class="foo_con_para">Z.I. Chotrana II B.P. 160 Pôle Technologique El Ghazela - Ariana 2083</p>
                            </li>
                            <li><span class="footer_icon"><i class="fa fa-phone" aria-hidden="true"></i> </span>
                                <p class="foo_con_para">+216 70 250 000</p>
                            </li>
                            <li><a href="mailto:nadia.khemakhem@esprit.tn"><span class="footer_icon"><i class="fa fa-envelope" aria-hidden="true"></i> </span><p class="foo_con_para">BonPlan@gmail.com</p></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--bottom footer start-->
    <div class="hm_bottom_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p>Copyrights &copy; 2018 All Rights Reserved by Himanshusofttech</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="footer_so_icons">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--popup login form-->
    <div class="hm_login_form_overlay">
        <div class="hm_login_form">
            <div class="hm_login_header">
                <h1>login form</h1>
                <span class="login_close"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="login_fields">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="pass" placeholder="Password">
                    </div>
                    <div class="form_btn">
                        <a href="#" class="hm_btn"> login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--popup signup form-->
    <div class="hm_signup_form_overlay">
        <div class="hm_signup_form">
            <div class="hm_login_header">
                <h1>signup form</h1>
                <span class="login_close"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="login_fields">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="re-password" placeholder="Re-type Password">
                    </div>
                    <div class="form_btn">
                        <a href="#" class="hm_btn"> register now</a>
                        <div class="register_info">already have an account? <a href="javascript:">login</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--main wrapper-->
</div>
<!--script-->
<script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/wow.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/plugin/owl/owl.carousel.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.magnific-popup.js') }}"></script>
<!--Revolution slider js-->
<script src="{{ asset('js/plugin/revolution/js/jquery.themepunch.tools.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/plugin/revolution/js/jquery.themepunch.revolution.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/plugin/revolution/js/revolution.extension.navigation.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/plugin/revolution/js/revolution.extension.slideanims.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/plugin/revolution/js/revolution.extension.layeranimation.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/plugin/revolution/js/revolution.extension.parallax.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/plugin/revolution/js/revolution.extension.kenburn.min.js') }}" type="text/javascript"></script>
<!--Revolution slider js-->
<script type="text/javascript" src="{{ asset('js/switcher.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
{% endblock %}
</body>
</html>