
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="description" content="" />
<meta name="keywords" content="">
<meta name="author" content="" />
<meta name="MobileOptimized" content="320">
<!-- favicon links -->
<link rel="icon" type="image/icon" href="favicon.png" />
<!-- main css -->
<link rel="stylesheet" href="/css/fonts.css" />
<link rel="stylesheet" href="/css/custom_animation.css" />
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/font-awesome.css" />
<link rel="stylesheet" href="/js/plugin/owl/owl.carousel.css" />

<link rel="stylesheet" href="/css/colors/default.css" id="colors" />
<body background="{{ asset('pink_roses_arrangement-wallpaper-1366x768.jpg') }}">
<center><h1><strong><p> <font color="#dc143c"> ajouter evenement </font></p></strong></h1></center>
{{ form_start(form) }}
<center><table>
        <tr><td> <font color="#9932cc"><h3>Nom</h3></font></td>
            <td aria-placeholder="nom evenement">{{ form_widget(form.nomEvenement) }}</td>
        </tr>
        <tr><td><BR></td>
            <td></td>
        </tr>
        <tr><td><font color="#9932cc"><h3>date</h3></font></td>
            <td>{{ form_widget(form.dateEvenement) }}</td>
        </tr>
        <tr><td><BR></td>
            <td></td>
        </tr>
        <tr><td><font color="#9932cc"><h3>description</h3></font></td>
            <td aria-placeholder="description">{{ form_widget(form.descriptionEvenement) }}</td>
        </tr>
        <tr><td><BR></td>
            <td></td>
        </tr>
       <br>
        <tr><td><font color="#9932cc"><h3>nom etablissement</h3></font> </td>

        <td>{{ form_widget(form.idEtablissement) }}</td>
        </tr>

        <tr><td><font color="#9932cc"><h3>image</h3></font></td>
            <td>{{ form_row(form.photoEvenement)}}</td>
        </tr>
        <tr><td><BR></td>
            <td></td>
        </tr>
    </table>
</center>
<center><font color="#dc143c"><h4>{{ form_widget(form.ajouter ,{'label':'confirmer'}) }}</h4></font>
</center>
{{ form_end(form) }}
</body>