<body background="{{ asset('vintage-mail-009.jpg') }}">
<center>
<hr>
    <h1><strong><p> <font color="#f0f8ff"> entrer votre mail pour reserver </font></p></strong></h1></center>
{{ form_start (form) }}

<br>       <center>{{ form_widget (form.email) }} </center>
<br>
<center>{{ form_widget(form.valider ,{'label':'reserver'}) }}</center>


{{ form_end (form) }}

</body>