

<head></head>
<br>
<br>
<center>
    <div align="center"  style="font-size: 15px; font-weight: bold; font-family: arial, times, serif;color:Tomato;">bienvenue  {{ user.nom }} dans {{ Evenement.nomEvenement }}</div></center>

  <div align="centre">  <img src="{{ asset('uploads/images/' ~ Evenement.photoEvenement) }}"  height="150" width="300"></div>
<center><table>
        <tr><td></td>
            <td>
            </td>
        </tr>
        <div><center><span style="font-size: 15px; font-weight: bold; font-family: arial, times, serif"><center>le {{ Evenement.dateEvenement|date("m/d/Y")  }}</center></span>
            </center></div>
      <div>  {{ Evenement.descriptionEvenement }}</div>
        <tr><td></td>
            <td></td>
        </tr>
        <tr>
            <td></td><td> <div align="right"> <img src="data:image/png;base64,
{{ barcode({code: Evenement.nomEvenement , type: 'qrcode', format: 'png', width: 3, height: 3, color: [0, 0, 0]}) }}
" /></div> </td>
        </tr>


    </table>

</center>


