{% for Evenement in Evenements %}
    <div id="all">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="hm_news_box">
                <div class="hm_news_img">
                    <img src="{{ asset('uploads/images/' ~ Evenement.photoEvenement) }}" alt="" class="img-responsive1">
                    <div class="news_img_overlay"></div>
                    <div class="overlay_buttons">
                        <a class="popup-iframe" href="https://www.youtube.com/watch?v=KAQjLTjW-dM"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="hm_news_data">

                    <h3><a href="{{ path('bon_plan_blog') }}">{{ Evenement.nomEvenement }}</a></h3>
                    <ul>
                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> {{ Evenement.dateEvenement|date("m/d/Y") }}</a></li>
                    </ul>
                    <ul>  <li><a href="#"><i class="fa fa-beer" aria-hidden="true"></i> {{ Evenement.idEtablissement.getNomEtablissement}}</a></li>
                    </ul>
                    {{ Evenement.descriptionEvenement }}
                    <a href="{{ path('bon_plan_blog2',{'id':Evenement.idEvenement}) }}" class="news_btn">read more</a>
                    <div class="hm_post_share">
                        <div class="pull-left tags">
                            <a class="fanc" id = "fanc" href={{ path('my_app_mail_homepage') }}>reserver mail</a> <a  href="{{  path('pdf_export',{'id':Evenement.idEvenement}) }}">obtenir ticket</a></li></ul>

                        </div></div></div>




            </div>
        </div>
    </div>
{% endfor %}