<body background="{{ asset('images/choose.jpg') }}">


<center><h1>Ajouter Publicite</h1></center>


{{ form_start(form) }}

<center><table>
        <tr><td>Titre :</td>
            <td>{{ form_widget(form.titre) }}</td>
        </tr>
        <tr><td><BR></td>
            <td></td>
        </tr>
        <tr><td>Date Debut :</td>
            <td>{{ form_widget(form.datedebut) }}</td>
        </tr>
        <tr><td><BR></td>
            <td></td>
        </tr>
        <tr><td>Description :</td>
            <td>{{ form_widget(form.descriptionPublicite) }}</td>
        </tr>
        <tr><td><BR></td>
            <td></td>
        </tr>
        <tr><td>Nom etablissement :</td>

            <td>{{ form_widget(form.idEtablissement) }}</td>
        </tr>
        <tr><td><BR></td>
            <td></td>
        </tr>
        <tr><td>image :</td>
            <td>{{ form_row(form.photoPublicite)}}</td>
        </tr>
        <tr><td><BR></td>
            <td></td>
        </tr>
    </table>
</center>
<center>{{ form_widget(form.ajouter ,{'label':'Ajouter'}) }}

    {{ form_end(form) }}
    <tr><td><BR></td>
        <td></td>
    </tr>


    </center>

</body>
<script>

    $(function () {
        $("#button").fancybox({
            maxWidth    : 800,
            maxHeight   : 600,
            fitToView   : false,
            width       : '50%',
            height      : '50%',
            autoSize    : false,
            closeClick  : false,
            type        : 'iframe',
            openEffect  : 'none',
            afterClose: function () {
                parent.location.reload(true);


            }}
        )})
    ;

</script>